.startupsBlock {
    background-color: #fff;
    width: 1100px;
    height: auto;
    margin: 65px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.startupsListPage {
    width: 1034px;
    height: 77px;
    left: 123px;
    top: 153px;
    margin: 20px auto 30px 30px;

    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 140%;

    color: #0f111d;
}

.filterBtn {
    margin: 30px;
}

.filterBtnPop,
.filterBtnNew {
    width: 224px;
    height: 68px;
    left: 123px;
    top: 257px;
    margin-right: 50px;

    background: #13adb7;
    border-radius: 35px;
    border: none;
    color: #ffffff;
    transition: 0.5s;
}

.filterBtnPop:hover,
.filterBtnNew:hover {
    border-style: solid;
    border-color: #13adb7;
    color: #13adb7;
    background-color: #fff;
}

.filterBtnText {
    width: 224px;
    height: 68px;
    left: 397px;
    top: 257px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    align-items: center;
    text-align: center;
}

.stertupsList {
    margin: 20px 30px 20px 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.stertupsItem {
    margin-right: 23px;
    width: 329px;
    margin-bottom: 40px;
}

.stertupsItem:nth-last-child(3) {
    margin-right: 0;
}

.stertupsItemSmallWrap {
    display: flex;
    justify-content: space-between;
}

.stertupsItemTime {
    height: 20px;
    left: 149px;
    top: 590px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    color: #999ca9;
}

.stertupsItemTittle {
    width: 179px;
    height: 28px;
    left: 149px;
    top: 614px;
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;

    color: #0f111d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stertupsItemDesr {
    width: 277px;
    height: 48px;
    left: 149px;
    top: 650px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #7b7d8c;
}

.stertupsItemBtn {
    align-items: center;
    width: 329px;
    height: 42px;

    background: #13adb7;

    border: 1px solid #13adb7;
    border-radius: 4px;
    transition: 0.5s;
}

.stertupsItemA {
    width: 100%;
    height: 18px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;

    color: #13adb7;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.stertupsItemBtn:hover,
.stertupsItemA {
    color: white;
}

.stertupsItemBtn:hover {
    background-color: #13adb7;
}

@media(max-width: 1200px) {
    .postList {
        width: 310px;
        flex-wrap: wrap;
    }
.filterBtn{
    width: 310px;
    margin: 0 auto;
}
    .startupsListPage {
        margin: 0 auto;
        width: 289px;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 140%;
    }

    .filterBtnNew,
    .filterBtnPop {
        width: 120px !important;
        height: 43px;
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        border-radius: 35px;
    }

    .stertupsItem{
        width: 277.41px;
    }

    .stertupsItemTime{
        font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
    }

    .stertupsItemTime{
        font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
    }

    .stertupsItemSmallWrap{
        width: 277.41px;
    }

    .stertupsItemBtn{
        width: 277.41px;
    }
}